:root{
  --system-color-theme: dark;
}

/*Used for detecting system theme color*/
@media (prefers-color-scheme: dark) {
  #sys{
    --system-color-theme: dark;
  }
}
@media (prefers-color-scheme: light) {
  #sys{
    --system-color-theme: light;
  }
}