/*Global Styles*/
* {
    font-family: Tahoma, Arial, sans-serif;
    text-align: center;
}

body {
    background-color: #2f363c;
    overflow: hidden;
}

/*Title Styles*/
header {
    background: #2b3238;
    padding: 0.15em 0;
    color: #bbbbbb;
}

h1 {
    font-size: 14px;
}

/*Logo Styles*/
@keyframes bounce{
    from{
        top:0.5em;
    }
    to{
        top:2.5em;
    }
}
img {
    position: relative;
    margin: 1em auto;
    max-width: 30%;
    animation: bounce 1.2s ease-in-out infinite alternate;
}

/*Waifu Option Styles*/
option {
    color: midnightblue;
}
option[value=mixed]{
    font-family: "Comic Sans MS","Georgia", fantasy;
}
select{
    margin: 2.5em auto;
    width: calc(140px + 10vw);
    font-size: 14px;
}
