/*Global Styles*/
*{
	font-family:Tahoma, Arial, sans-serif;
	text-align:center;
}
body{
	background-color: #2f363c;
}
/*Title Styles*/
header{
	background: #2b3238;
	padding:0.15em 0;
	color:#bbbbbb;
}
/*Logo Styles*/
img {
	display: block;
	margin: 1em auto;
	max-width: 50%;
}
/*Waifu Option Styles*/
option {
	color:midnightblue;
}
select{
	display:block;
	margin: 1em auto;
	width:calc(140px + 10vw);
	font-size:14px;
}
