body {
    background-color: #F9F9FA;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
main{
    margin-top:9.87vw;
}
/*Logo & WordMark*/
.logo-and-wordmark {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 49px;
}
.logo-and-wordmark .logo {
    background: url("about-logo.png") no-repeat center;
    background-size: 96px;
    display: inline-block;
    height: 96px;
    width: 96px;
}
.logo-and-wordmark .wordmark {
    background: url("firefox-wordmark.svg") no-repeat center center;
    background-size: 172px;
    display: inline-block;
    height: 96px;
    margin-inline-start: 15px;
    width: 172px;
}
/*Search Bar*/
.search-inner-wrapper {
    width: 50vw;
    cursor: default;
    display: flex;
    min-height: 48px;
    margin: 0 auto;
    position: relative;
}
input {
    background: white url("doki.ico") 12px center no-repeat;
    background-size: 24px;
    border: solid 1px transparent;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.15);
    font-size: 15px;
    padding: 0;
    padding-inline-end: 48px;
    padding-inline-start: 46px;
    width: 100%;
}
input:hover {
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.25);
}
.search-inner-wrapper:active input, input:focus {
    border: 1px solid #0060DF;
    box-shadow: 0 0 0 1px #0060DF, 0 0 0 4px rgba(0,96,223,0.3);
}
.search-button {
    background: url("forward.svg") no-repeat center center;
    background-size: 16px 16px;
    border: 0;
    border-radius: 0 3px 3px 0;
    height: 100%;
    inset-inline-end: 0;
    position: absolute;
    width: 48px;
}
.search-button:active {
    background-color: rgba(12, 12, 13, 0.2);
}
.search-button:focus, .search-button:hover {
    background-color: rgba(12, 12, 13, 0.1);
    cursor: pointer;
}